@font-face {
    font-family: NeueFrutiger-M;
    src: url(../fonts/NeueFrutigerWorld-Medium.vi_VN.woff2);
}
@font-face {
    font-family: NeueFrutiger-B;
    src: url(../fonts/FFMarkW05-Bold.woff2);
}
@font-face {
    font-family: NeueFrutiger-H;
    src: url(../fonts/FFMarkW05-Heavy.woff2);
}
html{    
    box-shadow: 0px -200px 150px 0px #00000066 inset;
}
*{
    padding: 0px;
    margin: 0px;
    font-family: NeueFrutiger-M;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
    background-image: url("../images/desktop_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    display:flex;
    padding: 60px 80px 0px;
}
header img{
    width: 120px;
}
main{
    display:flex;
    flex-direction: column;
    padding: 28px 54px;
    margin: auto;
    width:494px;
    height: 556px;
    background-color: white;
}
h2{
    padding: 45px 0px 0px;
    text-align: center;
    width: 100%;
    height: 78px;
    font-weight: 600;
}
.loginform{
    display: flex;
    padding: 24px 0px 0px;
    width: 100%;
    flex-grow: 1;
}
.information{
    display: flex;
    flex-basis: 100%;
    height: 194px;
    flex-direction: column;
}
.inputcontainer{
    width:100%; 
    height:48px; 
    padding:2px 0px;
}
.information input:focus{
    padding: 0.8em 0.5em 0.15em 0.5em;
    font-size: 12px;
}
.information input{
    width:100%;
    height:44px;
    padding: 0.5em 1em;
    font-size:  11px;
    font-family: inherit;
    background-color:rgba(240, 240, 240, 0.8) ;
    border: 2px solid #fff;
    border-radius: 4px;
    font-weight: bold;
}
.information .inputcontainer{
    position: relative;
    width:100%;
}
.information input ~ label{
    font-size: 10px;
    font-weight: bold;
    position: absolute;
    transform: scaleY(0.5); 
    left: 1em;
    top: 0.3em;
    opacity: 0;
}
.information input:focus ~ label{
    transform: scaleY(1);
    opacity: 1;
    transform-origin: top;
    transition: all 0.2s ease-in-out;
}
.information input:focus::placeholder{
    transform: scale(0.5);
    opacity: 0;
    transform-origin: 5px 10px;
    transition: all 0.2s ease-in-out;
}
.buttonholder{
    display: grid;
    grid-auto-flow: column;
    margin:12px 0px;
    grid-gap: 8.5px;
}
.buttonholder button{
    width: 90px;
    height:32px;
    border-radius: 8px;
    cursor: pointer;
}
button:active{
    outline: 2px solid black;   
    outline-offset: 2px;
}
.buttonholder svg{
    width:18px;
    height:18px;
}
.checkbox{
    display:flex; 
    width:120px; 
    height:18px;
    position: relative;
}
.checkbox .checkboxinput{
    position: absolute;
    background: transparent;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    display: block;
    height: 18px;
    width: 18px;
}
.checkbox span{
    font-size:13px;
    width:100%;
    height:18px;
    position:relative;
    bottom:4px;
    left:23px;
}
.submit{
    display:flex;
    justify-content: center;
}
.submit div{
    display:flex;
    justify-content: center;
    margin: 80px 0px 24px;
    width: 20%;
    height: 72px;
}
.submit-button{
    width: 72px;
    height: 72px;
    border: 2px solid rgba(128, 128, 128, 0.25);
    border-radius: 25px;
    background-color: white;
    cursor: pointer;
}
.submit-button:active{
    outline: 0px;
    border: 2px solid rgba(128, 128, 128, 0.6);
    background-color:rgb(238, 238, 238);
}
.submit svg{
    width:32px;
    height:32px;
}
.option{
    display: flex;
    flex-direction: column;
}
.option span{
    font-size: 10.24px;
    color: #3b3b3b;
    font-weight: bold;
    letter-spacing: 1px;
}
a{
    text-decoration: none;
    color: inherit;
}
footer{
    margin: 50px 72px 48px;
    letter-spacing: 0.5px;
}
.footer-link-container{
    display: flex;
}
.footer-link{
    margin: 5px 0px; 
    display:flex; 
    color:#ADADAD;
    font-size: 11px;
}
.footer-link a{
    padding-right: 15px;
    font-weight: bold;
}
.language::-webkit-scrollbar {
    display: none;
}
.termsline{ 
    color:#ADADAD;
    font-size: 9px;
}
.termsline a{
    text-decoration: underline;
    color: white;
}
select{
    appearance: none;
    -webkit-appearance: none;
    width: 50px;
    font-size: 12px;
    font-weight:bold;
    font-family: inherit;
    color: black;
    background-color: rgba(235, 235, 235, 0.2);
    border: 2px solid #caced100;
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 0px 2px;
}
@media screen and (max-width: 1040px){
    body{
        background-image: url(../images/mobile_background.jpg);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header{
        display:flex;
        justify-content: center;
        width:100%;
        height: 90px;
        padding: 24px 16px;
    }
    header img{
        width: 140px;
    }
    main{
        width: 700px;
        height: 750px;
        margin: 200px;
        padding: 30px 40px;
    }
    .information input:focus{
        font-size: 14px;
    }
    .information{
        display: flex;
        flex-basis: 100%;
        height: 260px;
        flex-direction: column;
    }
    .inputcontainer{
        height:100px;
    }
    .information input{
        height:70px;
        font-size: 15px;
    }
    .buttonholder button{
        margin-top: 20px;
        width: 150px;
        height:60px;
        border-radius: 15px;
    }
    button:active{
        outline: 2px solid black;   
        outline-offset: 2px;
    }
    .buttonholder svg{
        width:32px;
        height:32px;
    }
    .checkbox{
        display:flex; 
        margin-top: 5px;
        width:120px; 
        height:40px;
        position: relative;
    }
    .checkbox .checkboxinput{
        height: 40px;
        width: 40px;
    }
    .checkbox span{
        font-size:16px;
        height:34px;
        position:relative;
        bottom:-7px;
        left:50px;
    }
    .submit div{
        display:flex;
        justify-content: center;
        margin: 80px 0px 24px;
        height: 100px;
    }
    .submit-button{
        width: 105px;
        height: 105px;
        border-radius: 40px;
    }
    .submit svg{
        width:38px;
        height:38px;
    }
    .option span{
        font-size: 13.5px;
    }
    .footer{
        margin-bottom: 10px;
    }
    .footer-link-container{
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: center;
    }
    .footer-link{
        font-size: 13px;
    }
    .termsline{ 
        font-size: 10px;
    }
    .information input ~ label{
        font-size: 13px;
        font-weight: bold;
        position: absolute;
        transform: scaleY(0.5); 
        left: 0.8em;
        top: 0.35em;
        opacity: 0;
    }
}