@font-face {
    font-family: Nueu;
    src: url(../fonts/Nueu.woff2);
    font-family: FFMark-Bold;
    src: url(../fonts/FFMarkW05-Bold.woff2);
    font-family: FFMark-Heavy;
    src: url(../fonts/FFMarkW05-Heavy.woff2);
    font-family: FFMark-Medium;
    src: url(../fonts/FFMarkW05-Medium.woff2);
}


*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: Nueu,Arial,sans-serif;
}
:root{
    --header-bg:rgb(17, 17, 17);
    --dowload-bg:rgb(52, 52, 52);
    --footer-bg:rgb(17, 17, 17);
    --button-bg:rgb(255, 70, 85);
}
li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.header{
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: var(--header-bg);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header>ul{
    position: relative;
}
.riot-logo{
    margin-left: 20px;
    height: 80px;
    min-width: 85px;
    background: center no-repeat url(../images/riot-game-logo.png);
    background-size: contain;
}
.arrow-down{
    position: absolute;
    background: no-repeat center url(../images/down-arrow.png);
    top:37px;
    right: -13px;
    width: 13px;
    height: 13px;
    background-size: contain;
}
.valo-logo{
    height: 75px;
    min-width: 30px;
    margin-left: 20px;
    background: center no-repeat url(../images/valo-logo.png);
    background-size: contain;
}

.nav{
    position: relative;
    display: flex;
    width: 70%;
    justify-content: space-around;
}
.nav li {
    height: 80px;
    display: flex;
    align-items: center;
}

.nav li a{
    line-height: 35px;
    width: inherit;
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
}
.nav li .snav{
    padding: 0 20px;
    border-radius: 5px;
    height: 35px;
}

.nav li:hover .snav{
    background-color:rgb(51, 51, 51);
}

.nav .info:hover .arrow-down,
.nav .social-media:hover .arrow-down,
.nav .support:hover .arrow-down,
.nav .more:hover .arrow-down{

    background: no-repeat center url(../images/arrow-down-white.png);
    position: absolute;
    top:33px;
    right: 5px;
    width: 13px;
    height: 13px;
    background-size: contain;
}
.nav .info .arrow-down,
.nav .social-media .arrow-down,
.nav .support .arrow-down,
.nav .more .arrow-down{
    position: absolute;
    background: no-repeat center url(../images/down-arrow.png);
    top:34px;
    right: 5px;
    width: 12px;
    height: 12px;
    background-size: contain;
}

.nav .subnav{
    display: none;
    flex-flow: column;
    justify-content: space-evenly;
    position: absolute;
    padding: 15px 0;
    top: 65px;
    left: 0;
    min-width: 200px;
    background-color: rgb(41, 41, 41);
    border-top: 4px solid rgb(255, 70, 85);
    border-radius: 2px 2px 2px 2px;
}


.nav .info:hover .subnav,
.nav .support:hover .subnav,
.nav .social-media:hover .subnav
{
    display: flex;
}
.nav .more:hover .subnav{
    display: flex;
    padding-top: 10px;
    height: 60px;
}
.nav .info,.nav .support,.nav .more,.nav .social-media{
    position: relative;
}


.nav .subnav li{
    display: flex;
    justify-content: center;
    height: 39px;
    padding: 20px 0;
}
.nav .subnav li a{
    padding-left: 10px;
    width: 168px;
    border-radius: 6.4px;
    line-height: 32px;
}
.nav .subnav li:hover a{
    background-color: rgb(68, 68, 68);
}


.nav .subnav a
{
    color: rgb(189, 189, 189);
    font-weight: bold;
    text-transform: uppercase;
    font-size:13px;
}

.search-and-play{
    display: flex;
    min-width: 202px;
    height: 80px;
    justify-content: flex-start;
    align-items: center;
}

.search-and-play .search{
    width: 45px;
    height: 44px;
    background: center no-repeat url(../images/icons8-search-logo.png);
    background-size: 27px 27px;
    background-color: var(--dowload-bg);
    border-radius: 16px;
}

.search-and-play .language{
    background:center no-repeat url(../images/icons8-earth-logo.png);
    width: 32px;
    height: 32px;
    background-size: 20px 20px;
}
.search-and-play .playnow{
    background:linear-gradient(to right,#FF3844,#FF7261) ;
    width: 113px;
    height: 32px;
    border-radius: 13px;
    margin-right: 20px;
    line-height: 32px;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(17, 17, 17);
}

#pop-up-play{
    position: absolute;
    min-width: 66.7%;
    min-height: 40vh;
    background-color: rgb(15, 25, 35);
    border-top: 1px solid #939393;
    top:30vh;
    left: 16.65vw;
    padding: 20px 90px 20px 90px;
}

.pop-up-header{
    padding-top: 50px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: unset;
    display: flex;
    justify-content: center;
}
.pop-up-title-button{
    display: flex;
    justify-content: space-around;
    padding: 70px 60px 15px 60px;
}
.pop-up-title-button p{
    font-size: 14px;
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
}
.pop-up-button{
    display: flex;
    justify-content: space-around;
    padding: 0px 50px 0px 50px;
}
.pop-up-button li{
    line-height: 55px;
    text-align: center;
    outline: 1px solid #fff;
    outline-offset: 5px;
    font-size: 15px;
}
.pop-up-button li:first-child,.pop-up-button li:first-child a{
    display: block;
    background-color: rgb(236, 232, 225);
    color: rgb(15, 25, 35);
    text-transform: uppercase;
    font-weight: bold;
    width: 256px;
    height: 55px;
}
.pop-up-button li:last-child,.pop-up-button li:last-child a{
    display: block;
    /* set chieu dai rong cho the a de co the an duoc trong hinh chu nhat */
    width: 256px;
    height: 55px;
    background-color:rgb(255, 70, 85) ;
    color: rgb(236, 232, 225);
    text-transform: uppercase;
    font-weight: bold;
}
